SATS_OPENBAO_ADDR=http://localhost:8200
SATS_OPENBAO_DEV_TOKEN=imroot

SATS_POSTGRES_PASSWORD=pass

SATS_KEYCLOAK_ADMIN_USERNAME=kcadmin
SATS_KEYCLOAK_ADMIN_PASSWORD=kcadmin

SATS_OIDC_ISSUER=http://localhost:8070/realms/sats-realm
SATS_OIDC_CLIENT_SECRET=sats-client-secret
